/.idea/
/.phpunit.cache/
/bin/
/composer.lock
/doc/
/node_modules/
/package-lock.json
/plaisio-assets.csv
/test/coverage.xml
/test/report/
/vendor/
/www/js/**/*.js
/www/js/**/*.map
/www/js/Plaisio/Helper/
/www/js/Plaisio/Kernel/
/www/js/Plaisio/Table/
